version: "3.9"

services:
  nginx-router:
    image: nginx:alpine
    container_name: nginx-router
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80" # The only public port exposed to the internet
    networks:
      - gateway_net

networks:
  gateway_net:
    external: true